@charset "utf-8";

.container-wrapper {
  width: 50%;
  margin: 0 auto;
  max-width: 800px;
}

.container-header {
  width: 50%;
  padding: 10px 0;
  border-bottom: solid 1px #aaa;
  overflow: hidden;
}

.container-main {
  width: 45%;
  margin: 10px auto;
  overflow: hidden;
  min-height: calc(100vh - 159px);
}

.container-footer {
  padding: 10px 0;
  border-top: solid 1px #aaa;
  overflow: hidden;
}
